@bright: rgb(240, 240, 240);
@lightBright: rgb(220, 220, 220);
@lightDark: rgb(67, 67, 67);
@dark: rgb(26, 26, 26);

*
{
	box-sizing: border-box;
}
strong
{
	font-weight: inherit;
}
img
{
	max-width: 100%;
}
.space
{
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.button
{
	display: flex !important;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	margin: 5px auto;
	border: 1px solid rgb(67, 67, 67);
	background-color: @bright;
	color: gray;
	text-decoration: none;
	transition: all 0.5s ease;
	&:hover
	{
		background-color: @lightBright
	}
	&:hover .fa-facebook
	{
		color: rgb(59, 89, 152);
	}
	&:hover .fa-twitter
	{
		color: rgb(29, 161, 242);
	}
	&:hover .fa-github
	{
		color: rgb(23, 21, 21);
	}
}
.container
{
}
/*Nav*/
.nav
{
	position: fixed;
	top: 0;
	ul
	{
		display: inline;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		list-style-type: none;
		li
		{
			a
			{
				display: block;
			}
		}
	}
}
.menu
{
	left: 0;
	width: 75px;
	min-height: 100vh;
	.menuPublic
	{
		position: absolute;
		top: 0;
		bottom: 0;
		background-color: @dark;
		.links 
		{
			a
			{
				transition: all 1s ease; 
				&:hover
				{
					background-color: rgb(67, 67, 67);
				}
			}
		}
		.logo
		{
			font-size: 0;
		}
		.social_menu
		{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.menuBack
	{
		position: absolute;
		top: 0;
		bottom: 0;
		background-color: orange;
		.submenu
		{
			&:hover
			{
				ul
				{
					display: block;
				}
			}
			p
			{
				margin-bottom: 0;
			}
			ul
			{
				display: none;
			}
		}
	}
}
.panel
{
	right: 0;
}

/*Main*/
.main
{
	position: relative;
	min-height: 100vh;
	margin-left: 75px;

	.social_main
	{
		padding-left: 0;
		list-style-type: none;
		li
		{
			display: inline-block;
		}

	}

}

.layout
{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
}
.left
{
	left: 0;
	background-color: @lightDark;
}

.right
{
	right: 0;
	background-color: @bright;
}

/*Home*/
.home
{
	text-align: center;
	.title
	{
		.space;
		color: @bright;
		background-color: rgb(67, 67, 67);
	}
	.description
	{
		.space;
		background-color: rgb(217, 217, 217);
	}
}