/* Variables & Mixins */
	@facebook: rgb(59,89,152);
	@twitter: rgb(29,161,242);
	@github: rgb(23,21,21);
	@bright: rgb(240,240,240);
	@lightBright: rgb(220,220,220);
	@lightDark: rgb(67,67,67);
	@dark: rgb(26,26,26);
	@previewSize: 200px;
	.hide
	{
		display: none;
	}
	.flex
	{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.flexDirection_column
	{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
	    flex-direction: column;
	}
	.flexWrap
	{
		-ms-flex-wrap: wrap;
    	flex-wrap: wrap;
	}
	.justifyContent_between
	{
		-webkit-box-pack: justify;
    	-ms-flex-pack: justify;
    	justify-content: space-between;
	}
	.justifyContent_around
	{
		-ms-flex-pack: distribute;
	    justify-content: space-around;
	}
	.justifyContent_center
	{
	  	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}
	.alignItems_center
	{
		-webkit-box-align: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
	}
	.transition(@param)
	{
		-webkit-transition: @param;
		transition: @param;
	}
	.default_transition
	{
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.transform(@param)
	{
		-webkit-transform: @param;
		transform: @param;
	}

	.column
	{
		.flex;
		.flexDirection_column;
	}
	.half
	{
		position: absolute;
		left: 0;
		right: 0;
		height: 50%;
		h2
		{
			margin: 0;
			background-color: @lightBright;
			padding: 30px;
			color: @lightDark;
		}
	}
	.halfTop
	{
		top: 0;
		border-bottom: 3px solid @dark;
	}
	.halfBottom
	{
		bottom: 0;
		border-top: 3px solid @dark;
	}

/*General*/
	*
	{
		box-sizing: border-box;
	}
	body
	{
		font-size: 18px;
		font-family: 'Raleway', Arial, Helvetica, sans-serif;
	}
	strong
	{
		font-weight: inherit;
	}
	img
	{
		max-width: 100%;
	}
	a
	{
		color: inherit;
		text-decoration: none;
	}
	a:hover
	{
		color: inherit;
		text-decoration: underline;
	}
	a:active
	{
		color: inherit;
	}
	.button
	{
		.flex !important;
		.justifyContent_center;
		.alignItems_center;
		width: 45px;
		height: 45px;
		margin: 5px auto;
		border: 1px solid @lightDark;
		background-color: @bright;
		color: gray;
		text-decoration: none;
		.default_transition;
		&:hover
		{
			color: gray !important;
			background-color: @lightBright;
			text-decoration: none;
		}
		&:hover .fa-facebook
		{
			color: @facebook;
		}
		&:hover .fa-twitter
		{
			color: @twitter;
		}
		&:hover .fa-github
		{
			color: @github;
		}
	}

/*@media screen and (min-width: 1400px)
{
	
}*/

/*Notifications*/
	.success
	{
		position: fixed;
		z-index: 100;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		border: 1px solid black;
		text-align: center;
		background-color: @dark;
		color: @bright;
		opacity: 0.8;
		font-size: 1.5rem;
		padding: 20px;
		p
		{
			margin: 0;
		}
	}
	.need
	{
		a
		{
			text-decoration: underline;
		}
	}

/*Nav*/
	.nav
	{
		position: fixed;
		top: 0;
		ul
		{
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 0;
			list-style-type: none;
			li
			{
				a
				{
					display: block;
				}
			}
		}
	}
	.menu
	{
		left: 0;
		width: 75px;
		min-height: 100vh;
		.menuPublic
		{
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: @dark;
			.links 
			{
				a
				{
					.default_transition;
					&:hover
					{
						background-color: rgb(67, 67, 67);
					}
				}
			}
			.logo
			{
				font-size: 0;
			}
			.social_menu
			{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
		.menuBack
		{
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: orange;
			.submenu
			{
				&:hover
				{
					ul
					{
						display: block;
					}
				}
				p
				{
					margin-bottom: 0;
				}
				ul
				{
					.hide;
				}
			}
		}
	}
	.panel
	{
		right: 50px;
		background-color: @lightDark;
		.panel_icone
		{
			font-size: 2rem;
			padding: 10px;
			color: @lightBright;
			cursor: pointer;
			vertical-align: middle;
			.default_transition;
			&:hover
			{
				color: @bright;
			}
		}
		.panel_links
		{
			.hide;
			color: @bright;
			margin-right: 10px;
			ul
			{
				li
				{
					display: inline-block;
					a
					{
						color: inherit;
						margin: 0 5px;
					}
				}
			}
		}		
	}

/*Layout*/
	.main
	{
		position: relative;
		min-height: 100vh;
		margin-left: 75px;

		.social_main
		{
			padding-left: 0;
			list-style-type: none;
			li
			{
				display: inline-block;
			}
		}
	}
	.layout
	{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50%;
	}
	.left
	{
		left: 0;
		background-color: @lightDark;
		border-right: 3px solid @dark;
		color: @lightBright;
		a:hover
		{
			color: @bright;
		}
	}
	.right
	{
		right: 0;
		background-color: @bright;
		border-left: 3px solid @dark;
		color: @dark;
		a:hover
		{
			color: @lightDark;
		}
	}

/*Home*/
	.home
	{
		.title, .description, .notes
		{
			.column;
			.justifyContent_center;
			padding: 30px;
			width: 100%;
			height: 33.33%;
			position: absolute;
		}
		.title
		{
			top: 0;
			left: 50%;
			.transform(translateX(-50%));
			text-align: center;
		}
		.description
		{
			top: 50%;
			.transform(translateY(-50%));
			text-align: center;
			color: @dark;
			background-color: @lightBright;
		}
		.notes
		{
			bottom: 0;
			h3
			{
				color: @dark;
				font-weight: normal;
			}
			.notes_container
			{
				overflow: auto;
				.note
				{
					line-height: 1;
					padding-left: 10px;
					color: @lightBright;
					border-left: 1px solid @bright;
					
				}
			}
		}
	}
	.home_prods, .home_projects
	{
		.half;
		.column;
		.justifyContent_between;

		.home_redirect
		{
			text-align: center;
			padding: 20px 0;
			color: @lightBright;
			background-color: @lightDark;
			&:hover
			{
				color: @bright;
			}
		}
	}
	.home_prods
	{
		.halfTop;
	}
	.home_projects
	{
		.halfBottom;
	}

/*Previews*/
	.previewsBox_home
	{
		.flex;
		.justifyContent_around;
	}
	.previewsBox
	{
		.flex;
		.flexWrap;
		padding: 15px;
	}	

	.preview
	{
		width: @previewSize;
		height: @previewSize;
		margin: 10px;
		font-weight: bold;
		text-align: center;
		border: 3px solid @dark;
		background-color: @bright;
		overflow: hidden;
		.default_transition;
		.previewImage
		{
			.default_transition;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			height: 100%;
			a
			{
				text-decoration: none;
				display: block;
				height: 100%;
				.previewFilm
				{
					height: 100%;	
					.default_transition;
					.previewContent
					{
						.column;
						.justifyContent_center;
						.alignItems_center;
						font-size: 1.5rem;
						height: 100%;
						.default_transition;
						color: @bright;
						visibility: hidden;
						overflow: hidden;
					}
				}
			}
		}
		&:hover .previewImage
		{
			transform: scale(1.1);
		}
		&:hover .previewFilm
		{
			background-color: rgba(0,0,0,0.7);
		}
		&:hover .previewContent
		{
			visibility: visible !important;
		}
	}

/*About*/
	.sheet, .about
	{
		padding: 30px;
		.column;
		h2
		{
			text-align: center;
		}
		ul
		{
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

	}
	.sheet
	{
		h4
		{
			margin-bottom: 0;
		}
	}
	.about
	{
		color: @dark;
		background-color: @lightBright;
		a
		{
			text-decoration: underline;
			&:hover
			{
				color: inherit;
				text-decoration: none;
			}
		}
	}
	.skill, .career
	{
		.half;
		.show
		{
			display: none;
			text-align: center;
			opacity: 0.3;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.skill
	{
		.halfTop;
		.column;

		.skillBox
		{
			.flex;
			.justifyContent_between;

			.chart, .specific
			{
				width: 50%;

				.chartElement
				{
					cursor: help;
					.hide;
				}
				.html
				{
					fill: rgb(10,10,10);
					border-color: rgb(10,10,10) !important;
				}
				.css
				{
					fill: rgb(40,40,40);
					border-color: rgb(40,40,40) !important;

				}
				.php
				{
					fill: rgb(70,70,70);
					border-color: rgb(70,70,70) !important;

				}
				.mysql
				{
					fill: rgb(100,100,100);
					border-color: rgb(100,100,100) !important;

				}
				.js
				{
					fill: rgb(130,130,130);
					border-color: rgb(130,130,130) !important;

				}
				.other
				{
					border-color: @lightBright;
				}
			}

			.chart
			{
				margin-top: 15px;
				svg
				{
					width: 100%;
					path
					{
						stroke: black;
						stroke-width: 30;

					}
					text
					{
						font-size: 3387px;
						fill: @dark !important;
					}
				}
				
			}
			.specific
			{
				.column;
				padding-left: 10px;
				p
				{
					height: 27.65px;
					line-height: 27.65px;
					border-left: 15px solid;
					padding-left: 10px;
				}
			}
		}
	}
	.career
	{
		.halfBottom;
		
		.schema
		{
			height: 380px;
			.flex;
			.alignItems_center;
			padding: 10px;
			.schemaElement
			{
				.hide;
			}
			svg
			{
				width: 65%;
				max-height: 100%;
				path
				{
					fill: @lightDark;
				}
				.arrow
				{
					stroke: @dark;
					stroke-width: 300;
				}
				text
				{
					font-size: 3386px;
					fill: @bright;
				}
				g
				{
					cursor: help;
				}
			}
			.information
			{
				width: 35%;
				height: 100%;
				position: relative;
				p
				{
					display: none;
					color: @bright;
					margin: 0;
					position: absolute;
					padding: 10px;
					background-color: @dark;
					&:before
					{
						content: "";
						position: absolute;
						left: -12px;
						height: 0;
						width: 0;
						border-right: 12px solid @dark;
					}
				}
				#info_work
				{
					top: 20px;
					&:before
					{
						top: 0;
					    border-bottom: 15px solid transparent;
					}
				}
				#info_perso
				{
					top: 125px;
					left: -205px;
					&:before
					{
						top: 0;
					    border-bottom: 15px solid transparent;
					}
				}
				#info_formation
				{
					bottom: 125px;
					left: -15px;
					&:before
					{
						bottom: 0;
					    border-top: 15px solid transparent;
					}
				}
				#info_old
				{
					bottom: 20px;
					&:before
					{
						bottom: 0;
					    border-top: 15px solid transparent;
					}
				}
			}
		}
	}

/*Portfolio & Mine*/
	.empty
	{
		height: 100vh;
		.flex;
		.column;
		p
		{
			margin: auto;
		}
	}
	.prods, .projects
	{
		h2
		{
			padding: 30px;
		}
	}
	.prod, .project
	{
		height: 100%;
		.column;
		.single_title
		{
			margin: 0;
			background-color: @lightBright;
			padding: 30px;
			color: @lightDark;
		}
		.single_image
		{
			.flex;
			.justifyContent_center;
			.alignItems_center;
			font-size: 0;
			margin: 0;
			img
			{
				max-height: 100%;
				max-width: 100%;
			}
		}
		.prod_description, .prod_informations, .project_image, .project_content
		{
			.flex;
			height: 100%;
			width: 50%;
			font-size: 1rem;
			padding: 10px;
			div
			{
				margin: auto;
			}
		}
	}

	.prod
	{
		.prod_image
		{
			width: 100%;
			height: 50%;
			border-top: 3px solid @dark;
			border-bottom: 3px solid @dark;
		}
		.prod_content
		{
			.flex;
			flex: 1;
			font-size: 0;
			.prod_description, .prod_informations
			{

			}
			.prod_description
			{
				background-color: @lightBright;
				border-right: 2px solid @dark;
			}
			.prod_informations
			{
				background-color:@lightDark;
				color: @bright;
				border-left: 2px solid @dark;
				text-align: right;
				a:hover
				{
					color: inherit;
					text-decoration: underline;
				}
			}
		}
	}

	.project
	{
		.project_lastDate
		{
			font-size: 0.8rem;
			font-style: italic;
			float: right;
			margin-right: 100px;
		}
		.project_box
		{
			height: 40%;
			.flex;
			font-size: 0;
			.project_image
			{
				border-right: 2px solid @dark;
			}
			.project_content
			{
				border-left: 2px solid @dark;
				background-color:@lightDark;
				color: @bright;
			}
		}
		.project_news
		{
			border: 1px solid red;
			flex: 1;
			.column;
			.justifyContent_between;

			.reviews, .comments
			{

			}
			
		}
	}